# Alunos:
- Caio Guedes - ccsg@cesar.school
- Thais Rezende - trb@cesar.school
- Daniel Moares - dmms@cesar.school
- Jo√£o Paulo Veloso - jpgev@cesar.school

## Fontes

Foram utilizados os seguintes datasets para o desenvolvimento do trabalho:

- [IMDb Dataset](https://www.kaggle.com/datasets/ashirwadsangwan/imdb-dataset)
    - title.basics.tsv
    - title.ratings.tsv
- [Netflix Movies and TV Shows](https://www.kaggle.com/datasets/shivamb/netflix-shows)
    - netflix_titles.csv

> üöß Aten√ß√£o
> 
>  Os arquivos foram salvos em na basta `data` na raiz do projeto

## Objetivos da an√°lise:
- Quantidade de lan√ßamentos por Diretores por Ano  OK
- Pa√≠ses que mais lan√ßaram filmes OK
- Filmes com maior e menor tempo de dura√ß√£o OK
- M√©dia de rating por diretor OK
- Qual a categoria mais recorrente na base? OK

## Dicion√°rio do DataFrame

|Coluna|Tipo|Descri√ß√£o|
|--|--|--|
| id | string | alphanumeric unique identifier of the title. |
| title_type | string | the type/format of the title (e.g. movie, short,tvseries, tvepisode, video, etc). |
| primary_title | string | the more popular title / the title used by the filmmakers on promotional materials at the point of release. |
| original_title | string | original title, in the original language. |
| is_adult | boolean | 0: non-adult title; 1: adult title. |
| start_year | int | represents the release year of a title. In the case of TV Series, it is the series start year. |
| end_year | int | TV Series end year. for all other title types. |
| runtime_minutes | ‚Äì | primary runtime of the title, in minutes. |
| genres | string array | includes up to three genres associated with the title. |
| title_slug | string | title slug

In [31]:
import pandas as pd
from slugify import slugify

# Importar Dados de T√≠tulos do IMDB

In [32]:
df_imdb_titles = pd.read_csv('./data/title.basics.tsv', 
                             sep='\t', 
                             na_values='\\N', 
                             encoding='utf8', 
                             dtype=str)
df_imdb_titles.head(10)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,5,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"
5,tt0000006,short,Chinese Opium Den,Chinese Opium Den,0,1894,NaN,1,Short
6,tt0000007,short,Corbett and Courtney Before the Kinetograph,Corbett and Courtney Before the Kinetograph,0,1894,NaN,1,"Short,Sport"
7,tt0000008,short,Edison Kinetoscopic Record of a Sneeze,Edison Kinetoscopic Record of a Sneeze,0,1894,NaN,1,"Documentary,Short"
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,NaN,45,Romance
9,tt0000010,short,Leaving the Factory,La sortie de l'usine Lumi√®re √† Lyon,0,1895,NaN,1,"Documentary,Short"

## Filtrar apenas filmes e s√©ries

In [33]:
types = df_imdb_titles['titleType'].unique()
types
df_imdb_titles = df_imdb_titles[df_imdb_titles['titleType'].isin(['movie', 'tvSeries'])]

## Converter dados
- `startYear` de float para inteiro
- `endYear` de float para inteiro
- `isAdult` de float para booleano

In [34]:
df_imdb_titles['startYear'] = pd.to_numeric(df_imdb_titles['startYear'], errors='coerce', downcast='integer')
df_imdb_titles['endYear'] = pd.to_numeric(df_imdb_titles['endYear'], errors='coerce', downcast='integer')
df_imdb_titles['isAdult'] = df_imdb_titles['isAdult'].apply(lambda x: False if x == 0 else True)
df_imdb_titles['primaryTitle'] = df_imdb_titles['primaryTitle'].astype(str)

## Criar slug do t√≠tulo

In [35]:
df_imdb_titles.dtypes
df_imdb_titles['primaryTitleSlug'] = df_imdb_titles['primaryTitle'].fillna('').apply(lambda x: slugify(str(x)))

## Criar slug dos g√™neros

In [36]:
df_imdb_titles['genres'] = df_imdb_titles['genres'].fillna('').str.split(',').apply(lambda x:[slugify(value) for value in x])

In [37]:
df_imdb_titles.head(5)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,primaryTitleSlug
8,tt0000009,movie,Miss Jerry,Miss Jerry,True,1894.0,NaN,45,[romance],miss-jerry
144,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,True,1897.0,NaN,100,"[documentary, news, sport]",the-corbett-fitzsimmons-fight
498,tt0000502,movie,Bohemios,Bohemios,True,1905.0,NaN,100,[],bohemios
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,True,1906.0,NaN,70,"[action, adventure, biography]",the-story-of-the-kelly-gang
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,True,1907.0,NaN,90,[drama],the-prodigal-son

## Normalizar tipo

In [38]:
df_imdb_titles['titleType'] = df_imdb_titles['titleType'].fillna('').apply(lambda x: slugify(str(x)))
df_imdb_titles.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,primaryTitleSlug
8,tt0000009,movie,Miss Jerry,Miss Jerry,True,1894.0,NaN,45,[romance],miss-jerry
144,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,True,1897.0,NaN,100,"[documentary, news, sport]",the-corbett-fitzsimmons-fight
498,tt0000502,movie,Bohemios,Bohemios,True,1905.0,NaN,100,[],bohemios
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,True,1906.0,NaN,70,"[action, adventure, biography]",the-story-of-the-kelly-gang
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,True,1907.0,NaN,90,[drama],the-prodigal-son

## Renomear colunas

In [39]:
df_imdb_titles.rename(
    {'tconst': 'imdb_id', 'titleType': 'type', 'primaryTitle': 'primary_title', 'originalTitle': 'original_title', 'isAdult': 'is_adult', 'startYear': 'start_year', 'endYear': 'end_year', 'runtimeMinutes': 'runtime_minutes', 'primaryTitleSlug': 'title_slug'},
    axis=1,
    inplace=True)
df_imdb_titles.head()

,imdb_id,type,primary_title,original_title,is_adult,start_year,end_year,runtime_minutes,genres,title_slug
8,tt0000009,movie,Miss Jerry,Miss Jerry,True,1894.0,NaN,45,[romance],miss-jerry
144,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,True,1897.0,NaN,100,"[documentary, news, sport]",the-corbett-fitzsimmons-fight
498,tt0000502,movie,Bohemios,Bohemios,True,1905.0,NaN,100,[],bohemios
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,True,1906.0,NaN,70,"[action, adventure, biography]",the-story-of-the-kelly-gang
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,True,1907.0,NaN,90,[drama],the-prodigal-son

# Importar Dados de Notas do IMDB

In [40]:
df_imdb_title_ratings = pd.read_csv('./data/title.ratings.tsv', 
                             sep='\t', 
                             na_values='\\N', 
                             encoding='utf8', 
                             dtype=str)
df_imdb_title_ratings.head()

      tconst averageRating numVotes
0  tt0000001           5.7     2045
1  tt0000002           5.7      273
2  tt0000003           6.5     2003
3  tt0000004           5.4      178
4  tt0000005           6.2     2763

## Converter Dados
- `averageRating` para float
- `numVotes` para int

In [41]:
df_imdb_title_ratings['tconst'] = df_imdb_title_ratings['tconst'].astype(str)
df_imdb_title_ratings['averageRating'] = df_imdb_title_ratings['averageRating'].astype(float)
df_imdb_title_ratings['numVotes'] = df_imdb_title_ratings['numVotes'].astype(int)
df_imdb_title_ratings.dtypes

tconst            object
averageRating    float64
numVotes           int64
dtype: object

## Renomar colunas

In [42]:
df_imdb_title_ratings.rename(
    {'tconst': 'imdb_id', 'averageRating': 'average_rating', 'numVotes': 'num_votes'},
    axis=1,
    inplace=True)
df_imdb_title_ratings.head()

     imdb_id  average_rating  num_votes
0  tt0000001             5.7       2045
1  tt0000002             5.7        273
2  tt0000003             6.5       2003
3  tt0000004             5.4        178
4  tt0000005             6.2       2763

# Combinando Dados de Filmes e Notas do IMDB

In [43]:
df_imdb = pd.merge(left=df_imdb_titles, right=df_imdb_title_ratings, how='inner', on='imdb_id')
df_imdb.head()

,imdb_id,type,primary_title,original_title,is_adult,start_year,end_year,runtime_minutes,genres,title_slug,average_rating,num_votes
0,tt0000009,movie,Miss Jerry,Miss Jerry,True,1894.0,NaN,45,[romance],miss-jerry,5.3,210
1,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,True,1897.0,NaN,100,"[documentary, news, sport]",the-corbett-fitzsimmons-fight,5.2,510
2,tt0000502,movie,Bohemios,Bohemios,True,1905.0,NaN,100,[],bohemios,4.4,17
3,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,True,1906.0,NaN,70,"[action, adventure, biography]",the-story-of-the-kelly-gang,6.0,886
4,tt0000591,movie,The Prodigal Son,L'enfant prodigue,True,1907.0,NaN,90,[drama],the-prodigal-son,5.4,24

# Importar Dados de T√≠tulos do Netflix

## Dicion√°rio do Dataframe

|Coluna|Tipo|Descri√ß√£o|
|--|--|--|
| show_id      | string  | alphanumeric unique identifier of the show. |
| type         | string  | the show type (Movie, TV Show) |
| title        | string  | the show title |
| director     | string  | a comma separeted values, containing all directors name's |
| cast         | boolean | a comma separeted values, containing all cast name's |
| country      | string  | a comma separeted values, containing all countries involved in the show |
| date_added   | string  | a date indicating when the show was added to netflix catalog |
| release_year | string  | a date indicating when the show was released |
| rating       | string  | a category indicating the target audience by age |
| duration     | string  | the show duration |
| listed_in    | string  | the show category |
| description  | string  | a show description |

In [60]:
df_netflix_titles = pd.read_csv('./data/netflix_titles.csv', sep=',', encoding='utf8', dtype=str)
df_netflix_titles.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

## Criar slug do t√≠tulo

In [45]:
df_netflix_titles['title_slug'] = df_netflix_titles['title'].fillna('').apply(lambda x: slugify(str(x)))
df_netflix_titles.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,title_slug
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",dick-johnson-is-dead
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",blood-water
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,ganglands
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",jailbirds-new-orleans
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,kota-factory

In [46]:
types = df_netflix_titles['type'].unique()
types

array(['Movie', 'TV Show'], dtype=object)

## Normalizar tipo

In [47]:
def normalize_netflix_type(value):
    if value == 'Movie':
        return 'movie'
    elif value == 'TV Show':
        return 'tvseries'
    else:
        return None

In [48]:
df_netflix_titles['type'] = df_netflix_titles['type'].apply(lambda x: normalize_netflix_type(x))
df_netflix_titles.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,title_slug
0,s1,movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",dick-johnson-is-dead
1,s2,tvseries,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",blood-water
2,s3,tvseries,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,ganglands
3,s4,tvseries,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",jailbirds-new-orleans
4,s5,tvseries,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,kota-factory

## Normalizar pa√≠s

In [49]:
df_netflix_titles['country'] = df_netflix_titles['country'].fillna('').str.split(',')

In [50]:
df_netflix_titles.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,title_slug
0,s1,movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,[United States],"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",dick-johnson-is-dead
1,s2,tvseries,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",[South Africa],"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",blood-water
2,s3,tvseries,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",[],"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,ganglands
3,s4,tvseries,Jailbirds New Orleans,NaN,NaN,[],"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",jailbirds-new-orleans
4,s5,tvseries,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",[India],"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,kota-factory

# Combinando Dados do IMDB com Dados da Netflix

In [51]:
df_netflix_merge = pd.merge(df_netflix_titles, df_imdb[['title_slug', 'average_rating']], on=['title_slug'], how='right')
df_netflix_titles['rating_imdb'] = df_imdb['average_rating']
df_netflix_titles.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,title_slug,rating_imdb
0,s1,movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,[United States],"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",dick-johnson-is-dead,5.3
1,s2,tvseries,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",[South Africa],"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",blood-water,5.2
2,s3,tvseries,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",[],"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,ganglands,4.4
3,s4,tvseries,Jailbirds New Orleans,NaN,NaN,[],"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",jailbirds-new-orleans,6.0
4,s5,tvseries,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",[India],"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,kota-factory,5.4

In [52]:
df_netflix_titles.drop(columns=['show_id', 'rating'], inplace=True)
df_netflix_titles.head()

,type,title,director,cast,country,date_added,release_year,duration,listed_in,description,title_slug,rating_imdb
0,movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,[United States],"September 25, 2021",2020,90 min,Documentaries,"As her father nears the end of his life, filmm...",dick-johnson-is-dead,5.3
1,tvseries,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",[South Africa],"September 24, 2021",2021,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",blood-water,5.2
2,tvseries,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",[],"September 24, 2021",2021,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,ganglands,4.4
3,tvseries,Jailbirds New Orleans,NaN,NaN,[],"September 24, 2021",2021,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",jailbirds-new-orleans,6.0
4,tvseries,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",[India],"September 24, 2021",2021,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,kota-factory,5.4

### Quantidade de lan√ßamentos por Diretores por Ano

In [53]:
df_directors = df_netflix_titles.dropna(subset=['director'])
df_directors.groupby(['director', 'release_year']).size().sort_values(ascending=False)
df_directors.head()

,type,title,director,cast,country,date_added,release_year,duration,listed_in,description,title_slug,rating_imdb
0,movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,[United States],"September 25, 2021",2020,90 min,Documentaries,"As her father nears the end of his life, filmm...",dick-johnson-is-dead,5.3
2,tvseries,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",[],"September 24, 2021",2021,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,ganglands,4.4
5,tvseries,Midnight Mass,Mike Flanagan,"Kate Siegel, Zach Gilford, Hamish Linklater, H...",[],"September 24, 2021",2021,1 Season,"TV Dramas, TV Horror, TV Mysteries",The arrival of a charismatic young priest brin...,midnight-mass,4.3
6,movie,My Little Pony: A New Generation,"Robert Cullen, Jos√© Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",[],"September 24, 2021",2021,91 min,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...,my-little-pony-a-new-generation,2.9
7,movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","[United States, Ghana, Burkina Faso, United...","September 24, 2021",1993,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s...",sankofa,4.2

### Pa√≠ses que mais lan√ßaram filmes

In [54]:
df_exploded = df_netflix_titles.explode(column='country')
df_exploded['country'] = df_exploded['country'].apply(lambda x: x.strip())
df_filtered = df_exploded[df_exploded['country'] != '']
df_grouped = df_filtered.groupby(['country']).size().sort_values(ascending=False)
df_grouped

country
United States     3690
India             1046
United Kingdom     806
Canada             445
France             393
                  ...
Mozambique           1
Nicaragua            1
Palestine            1
Panama               1
Lithuania            1
Length: 122, dtype: int64

### Filmes com maior e menor tempo de dura√ß√£o

In [55]:
df_netflix_movies = df_netflix_titles[df_netflix_titles['type'] == 'movie']
df_netflix_movies.dropna(subset='duration', inplace=True)
df_netflix_movies['duration'] = df_netflix_movies['duration'].apply(lambda x: str(x))
df_netflix_movies['duration'] = df_netflix_movies['duration'].apply(lambda x: x.replace(' min', ''))
df_netflix_movies.rename(columns={'duration': 'duration (min)'}, inplace=True)
df_netflix_movies['duration (min)'] = df_netflix_movies['duration (min)'].astype(int)

/tmp/ipykernel_34701/2520407496.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_netflix_movies.dropna(subset='duration', inplace=True)
/tmp/ipykernel_34701/2520407496.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_netflix_movies['duration'] = df_netflix_movies['duration'].apply(lambda x: str(x))
/tmp/ipykernel_34701/2520407496.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_netflix_movies['duration'] = df_netflix_movies['duration'].apply(lambda x: x.replace(' min', ''))
/tmp/ipykernel_34701/2520407496.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_netflix_movies.rename(columns={'duration': 'duration (min)'}, inplace=True)
/tmp/ipykernel_34701/2520407496.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_netflix_movies['duration (min)'] = df_netflix_movies['duration (min)'].astype(int)

In [56]:
df_netflix_movies_min_duration = df_netflix_movies['duration (min)'].min()
df_netflix_movies[df_netflix_movies['duration (min)'] == df_netflix_movies_min_duration]

,type,title,director,cast,country,date_added,release_year,duration (min),listed_in,description,title_slug,rating_imdb
3777,movie,Silent,"Limbert Fabian, Brandon Oldenburg",NaN,[United States],"June 4, 2019",2014,3,"Children & Family Movies, Sci-Fi & Fantasy","""Silent"" is an animated short film created by ...",silent,5.5

In [57]:
df_netflix_movies_max_duration = df_netflix_movies['duration (min)'].max()
df_netflix_movies[df_netflix_movies['duration (min)'] == df_netflix_movies_max_duration]

,type,title,director,cast,country,date_added,release_year,duration (min),listed_in,description,title_slug,rating_imdb
4253,movie,Black Mirror: Bandersnatch,NaN,"Fionn Whitehead, Will Poulter, Craig Parkinson...",[United States],"December 28, 2018",2018,312,"Dramas, International Movies, Sci-Fi & Fantasy","In 1984, a young programmer begins to question...",black-mirror-bandersnatch,5.0

### M√©dia de rating por diretor

In [58]:
df_netflix_directors = df_netflix_titles.dropna(subset='director')
df_netflix_directors_grouped = df_netflix_directors.groupby(['director'])['rating_imdb'].mean()
df_netflix_directors_grouped.sort_values(ascending=False, inplace=True)
df_netflix_directors_grouped

director
Ed Lilly                        9.4
Leslye Davis, Catrin Einhorn    9.0
Lori Kaye                       9.0
Vincent Ward                    9.0
John Smithson                   8.7
                               ...
Jos Humphrey                    1.6
Alessandra de Rossi             1.6
Narendra Nath                   1.6
Tony Collingwood                1.2
Michelle Johnston               1.0
Name: rating_imdb, Length: 4528, dtype: float64

### Qual a categoria mais recorrente na base?

In [59]:
df_netflix_genre = df_netflix_titles.copy(deep=True)
df_netflix_genre.dropna(subset='listed_in', inplace=True)
df_netflix_genre['listed_in'] = df_netflix_genre['listed_in'].apply(lambda x: str(x))
df_netflix_genre['listed_in'] = df_netflix_genre['listed_in'].apply(lambda x: x.split(','))
df_netflix_genre_exploded = df_netflix_genre.explode(column='listed_in')
df_netflix_genre_exploded['listed_in'] = df_netflix_genre_exploded['listed_in'].apply(lambda x: x.strip())
df_netflix_genre_exploded
 

df_netflix_genre_grouped = df_netflix_genre_exploded.groupby(['listed_in']).size()
print(f'A categoria mais recorrente √©: {df_netflix_genre_grouped.idxmax()}, com {df_netflix_genre_grouped.max()} ocorr√™ncias.')

A categoria mais recorrente √©: International Movies, com 2752 ocorr√™ncias.